
<!doctype html>
<html>
	<head>
		<title>Gym Database - Parker Howell</title>
		<link rel="stylesheet" type="text/css" href="style.css">
	</head>
	<body>
		<table id="mainTab">
			<caption><h1>Parker Howell's Gym Database</h1></caption>
			<td class="tablayout" id="nav">
				<!-- Nav -->
				<div><a href="/">Home</a></div></br>
				<div><a href="/memberships">Memberships</a></div></br>
				<div><a href="/members">Members</a></div></br>
				<div><a href="/routines">Routines</a></div></br>
				<div><a href="/exercises">Exercises</a></div></br>
				<div><a href="/membexer">MembExer</a></div></br>
				<div><a href="/routexer">RoutExer</a></div></br>
				<div><a href="/search">Search</a></div></br>
			</td>
			<td class="tablayout" id="content" >
				<!-- Main Content -->
				{{{body}}}
			</td>		
		</table>
	</body>
</html>