<h2>Exercises</h2>

<form>
	<fieldset id="ExerAdd">
		<legend>Add a Exercise:</legend>
	   Exercise Name: <input id="EName" type="text" name="ename"></br>
	   Sets: <input id="ESets" type="text" name="esets">
		Reps: <input id="EReps" type="text" name="ereps"></br>
		<input id="addEButton" type="submit" value="Add Exercise">

	</fieldset>
</form></br></br>

<table id="eTable">
	<caption><h3>Available Exercises</h3></caption>
	<thead>
		<tr>
		   <th>ID</th>
		   <th>Exercise Name</th>
		   <th>Sets</th>
		   <th>Reps</th>
		</tr>
	</thead>

	<!-- tbody gets replaced with new one... -->
	<tbody>
	</tbody>

</table>

<script src="exercises.js"></script>