<h2>Home</h2>
<ul>
	<li>View and Add Memberships on the Memberships Page.</li>
	<li>View and Add Members on the Members Page.</li>
	<li>View and Add Routines on the Routines Page.</li>
	<li>View, Add, and Edit Exercises on the Exercises Page.</li>
	<li>View and Add Exercises to a Member on the MembExer Page.</li>
	<li>View and Add Exercises to a Routine on the RoutExer Page.</li>
	<li>View the Routines and Exercises a Member has on the Search Page.</li>
</ul>