<h2>Memberships</h2>

<form>
	<fieldset>
		<legend>Add a Membership:</legend>
	   Length of Membership:&nbsp;<input id="MSType" type="text" name="type"></br>
		<input id="addMSButton" type="submit" value="Add Membership">
	</fieldset>
</form></br>

<table id="msTable">
	<caption><h3>Available Memberships</h3></caption>
	<thead>
		<tr>
		   <th>ID</th>
		   <th>Length</th>
		</tr>
	</thead>

	<!-- tbody gets replaced with new one... -->
	<tbody>
	</tbody>

</table>


<script src="memberships.js"></script>